@import 'reset';

h2 {
    font-size: 38px;
}
h3 {
    font-size: 32px;
}

p {
   padding: 12px 0;
}
label {
    padding: 0 12px;
}
table {
    td,
    th {
        border: 1px solid #000;
        padding: 8px 20px;
        font-size: 20px;
    }
}
